.center {
    text-align: center;
  }
  
  .utton {
    background-color: rgb(172, 173, 177);
    color: rgb(197, 250, 184);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
  }